<% include partials/header %>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <% include partials/navbar %>
         
      <% include partials/supsidebar %>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Export Table</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                            <tr>
                              <th>SN</th>
                              <th>Person Name</th>
                              <th>Person Gender</th>
                              <th>Details of Incident</th>
                              <th>Injury Type</th>
                              <th>Required Hospital</th>
                              <th>Date</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(let i=0; i<reports.length; i++) {%>
                            <tr>
                              <td><%= i + 1 %></td>
                              <td><%= reports[i].injName%></td>
                              <td><%= reports[i].injGender%></td>
                              <td><%= reports[i].injDetails %></td>
                              <td><%= reports[i].injType %></td>
                              <td><%= reports[i].hospital %></td>
                              <td><%= reports[i].createdAt.toDateString() %></td>
                              <td><div class="btn-group mb-3" role="group" aria-label="Basic example">
                                <form action="/approve/<%= reports[i].id %>" method="POST">
                                  <%- reports[i].approved === true ? `<button type="submit" class="btn btn-success" disabled>Approve</button>` : `<button type="submit" class="btn btn-success">Approve</button>` %>
                              </form>
                              <form action="/unapprove/<%= reports[i].id %>" method="POST">
                                <%- reports[i].approved === false ? `<button type="submit" class="btn btn-danger" disabled>UnApprove</button>` : `<button type="submit" class="btn btn-danger">UnApprove</button>` %>
                            </form>
                                <button id="swal-2" class="btn btn-success">Share</button>
                              </div></td>
                            </tr>
                            <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <script src="/assets/bundles/datatables/datatables.min.js"></script>
  <script src="/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
  <script src="/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
  <script src="/assets/bundles/datatables/export-tables/jszip.min.js"></script>
  <script src="/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
  <script src="/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
  <script src="/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
  <script src="/assets/js/page/datatables.js"></script>
  <script src="/assets/bundles/sweetalert/sweetalert.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="/assets/js/page/sweetalert.js"></script>
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/assets/js/custom.js"></script>
</body>


</html>